


<div class="container ">
    <div class="row p-3" *ngIf="addPerson">
        <div class="col-6"> <h2 >Person Registration</h2> </div>
        <div class="col-6 text-right"><button routerLink="/records" class="btn btn-primary">View List</button></div>

    </div>
    <h2 *ngIf="!addPerson">Person Details</h2>
    <form  class="was-validated p-3" [formGroup]="personDetailForm">
      <div class="form-group">
        <label for="fname">Full Name</label>
        <input type="text" class="form-control" id="fname" placeholder="Enter name" name="fname" required formControlName="personName">
      </div>
      <div class="form-group">
        <label for="dob">Date Of Birth</label>
        <input type="text"  class="form-control" id="dob" placeholder="DD/MM/YYYY" name="dob" required formControlName="dob" >
      </div>
      <div class="form-group">
        <label for="Cc">Country Code</label>
        <input type="text" class="form-control" id="cc" placeholder="Enter code" name="cc" required formControlName="countryCode">
      </div>
      <div class="form-group">
        <label for="dob">Person's Photo</label>
        <img  *ngIf="avatarSrc" id="avatar" src="{{avatarSrc}}" alt="your image" class="rounded d-block" height="70px" width="100px"/>
        <br>
        <input   type='file' (change)="readURL($event)" />

      </div>
      <button *ngIf="!addPerson" class="btn btn-success" (click)="update()">Update Details</button>
      <button *ngIf="addPerson" class="btn btn-success" (click)="Add()">Add Person</button>
      
    </form>
  </div>
  














