<!-- <app-login></app-login> -->


<!-- <app-config></app-config> -->
<div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-item nav-link active" routerLink="">Home <span class="sr-only">(current)</span></a>
        <a  class="nav-item nav-link active" routerLink="/records">Records</a>
      
      </div>
    </div>
  </nav>
</div> -->

<router-outlet></router-outlet>