<div class="container ">
  <div class="row p-3" >
      <div class="col-6"> <h2 >Person Records</h2> </div>
      <div class="col-6 text-right"><button routerLink="/" class="btn btn-primary">Create New</button></div>

  </div>
        <div class=" ">
           
        
<div class="row m-0" *ngIf="personData">
    <div class="col-lg-3 col-md-4 col-12 col-sm-6  mt-2 p-3" *ngFor="let item of personData.records">
        <div  class="card-person cursor" (click)="onPersonInfoClick(item.id)" >
    <app-card [personInfo]=item></app-card>
</div>
    </div>
</div>
</div>
<div class="text-center" *ngIf="!personData">
    <h3 class="lead">There is no data available</h3>

</div>
</div>


<div class="container">

  <div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">

    
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal"(click)="closeModel()">&times;</button>
        </div>
        <div class="modal-body">
          <app-config [addPerson]="false" [id]="personID" (updated)="onUpdated($event)"></app-config>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
    
  
</div>


